.OnboardingSwiper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	//min-height: 400px;
	transition: 1s all;
	z-index: 1;
	background-color: lightgrey;
	@media (min-width: 769px) {
		width: 50%;
		height: initial;
		position: initial;
		left: initial;
		top: initial;
	}
	&.customClose {
		top: -100%;
	}

	.swiper {
		height: 100%;
		min-height: 90vh;
		position: relative;
		.swiper-slide {
			height: initial;
			position: relative;
			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				filter: brightness(50%);
			}
			.caption {
				position: absolute;
				left: 0px;
				top: 160px;
				color: white;
				padding: 0 16px;
				@media (min-width: 769px) {
					top: initial;
					bottom: 190px;
					max-width: 682px;
					padding: 0 120px;
				}
			}
		}
		&-wrapper {
			height: 100%;
			background-color: lightcoral;
		}
		&-pagination {
			width: 100%;
			display: flex;
			position: absolute;
			left: 0;
			top: 0;
			padding: 100px 16px 0;
			z-index: 2;
			gap: 16px;
			@media (min-width: 769px) {
				top: initial;
				bottom: 130px;
				gap: 30px;
				padding: 10px 120px;
			}
			&-bullet {
				display: block;
				width: 100%;
				height: 10px;
				border: none;
				border-radius: 20px;
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.5);
				&-active {
					background-color: #003b99;
				}
			}
		}
	}
	.buttons {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 60px;
		padding: 16px;

		z-index: 1;
		@media (min-width: 769px) {
			display: none;
		}
		.btn {
			display: block;
			width: 100%;
			margin-bottom: 16px;
			border-radius: 16px;
			background-color: #003b99;
			font-size: 18px;
			font-weight: 700;
			padding: 6px;
			color: white;
			&-outline {
				border: 1px solid #003b99;
				background-color: transparent;
			}
		}
	}
}
